@import './awsm.min.css';
@import './button.css';

:root {
  --primary: #864B38;
  --second: #71323E;
  --bg: #EFE4D9;
  --bg2: #DEC3AF;
  --light: #9F756A;
}

html, body {
  position: relative;
  margin: 0;
  overflow: hidden;

  color: var(--primary);
  background: var(--bg);
}

*>h1:first-child,
*>h2:first-child,
*>h3:first-child,
*>h4:first-child,
*>h5:first-child,
*>h6:first-child {
  margin-top: 0;
}
