<%
  let menus = [
    { name: 'Koaplate', url: '/' },
    { name: 'Guide Page', url: '/guide' },
    { name: 'Talk Board', url: '/talk' }
  ].map(menu => {
    menu.active = path === menu.url
    return menu
  })
%>
<nav>
  <ul>

    <% menus.forEach(menu => { %>
    <li class="<%=menu.active ? 'active' : ''%>">
      <a href="<%=menu.url%>"><%=menu.name %></a>
    </li>
    <% }) %>
    <li>
      <% if (typeof user !== 'undefined') { %>
      Welcome,
        <a href="/user/<%=user.username %>"><%=user.username %></a>
    </li>
    <li>
      <a href="/logout"> Logout </a>
    </li>
    <% } else { %>
    <li>
      <a href="/login"> Login </a>
    </li>
    <li>
      <a href="/signup"> Sign up </a>
    </li>
    <% } %>
  </ul>
</nav>
